<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="http://wxmovie.qq.com/wx/20141120/cai20/css/style.css">
</head>
<body>
<!--attent_wy end-->
<div class="guess_film">
    <img src="http://wxmovie.qq.com/wx/20141120/cai20/img/sec_bg.jpg" alt="背景图片" />
    <section class="guess_sec" style="display:none;">
        <div class="bgfdf_box">
            <header>1/5</header>
            <img src="http://wxmovie.qq.com/wx/20141120/cai20/img/qa_pic1.jpg" alt="图片" />
            <aside>《拯救大兵瑞恩》影片一开始再现了二战中的一场著名战役。请问这场战役是？</aside>
        </div>
        <span class="answer_btn" rel="A">A．诺曼底登陆</span>
        <span class="answer_btn" rel="B">B．平型关大捷</span>
    </section>
    <!--1 end-->
    <section class="guess_sec" style="display:none;">
        <div class="bgfdf_box">
            <header>2/5</header>
            <img src="http://wxmovie.qq.com/wx/20141120/cai20/img/qa_pic2.jpg" alt="图片" />
            <aside>《兵临城下》男主角、神枪手瓦西里是什么兵种？</aside>
        </div>
        <span class="answer_btn" rel="A">A. 投弹手</span>
        <span class="answer_btn" rel="B">B. 狙击手</span>
    </section>
    <!--2 end-->
    <section class="guess_sec" style="display:none;">
        <div class="bgfdf_box">
            <header>3/5</header>
            <img src="http://wxmovie.qq.com/wx/20141120/cai20/img/qa_pic3.jpg" alt="图片" />
            <aside>《巴顿将军》讲述了四星上将巴顿的生平，请问巴顿将军毕业于哪所著名军校？</aside>
        </div>
        <span class="answer_btn" rel="A">A. 黄埔军校</span>
        <span class="answer_btn" rel="B">B. 西点军校</span>
    </section>
    <!--3 end-->
    <section class="guess_sec" style="display:none;">
        <div class="bgfdf_box">
            <header>4/5</header>
            <img src="http://wxmovie.qq.com/wx/20141120/cai20/img/qa_pic4.jpg" alt="图片" />
            <aside>《珍珠港》中珍珠港事件发生在什么地方？</aside>
        </div>
        <span class="answer_btn" rel="A">A．美国夏威夷</span>
        <span class="answer_btn" rel="B">B．日本东京湾</span>
    </section>
    <!--4 end-->
    <section class="guess_sec" style="display:none;">
        <div class="bgfdf_box">
            <header>5/5</header>
            <img src="http://wxmovie.qq.com/wx/20141120/cai20/img/qa_pic5.jpg" alt="图片" />
            <aside>《兄弟连》讲述了一支______部队空投到欧洲开辟第二战场的故事。</aside>
        </div>
        <span class="answer_btn" rel="A">A．潜艇</span>
        <span class="answer_btn" rel="B">B．空降兵</span>
    </section>
    <!--5 end-->
    <!--guess_start end-->
</div>
<!--guess_film end-->

</body>
</html>
